<ul>
<% @todos.each do |item| %>
  <li>
    <p>
      <%= item.content %>
      <input id ="checks" type="checkbox" name="done" <%="checked" if item.done %> enabled>
      <span> <a href="/<%=item.id%>">[Edit]</a></span>
      <a href="/<%=item.id%>/delete">[Delete]</a>
    </p>
  </li>
  <% end %>
</ul>

<section id="add">
  <form id ="add_item" action="/" method="post">
    <textarea name="content" placeholder="Todos&hellip;"></textarea>
    <br>
    <input id="button" type="submit" value ="Add Todo item">
  </form>
</section>

