h1 a{
  text-decoration: none;

}

ul {
  list-style-type: none;
}

li {
  font-weight: bold;
}

textarea {
  margin-left: 33px; 
  width: 20%;
  height: 30%;
  resize: none;
  background-color: lightblue;
}

#button{
  margin-left: 33px;
  margin-top: 5px; 
}

#checks, footer{
  margin-left: 50px;
}